header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 80px;
    border: 3px solid black;
    border-radius: 10px;
}

img {
    max-height: 90%;
}

.menu {
    color: white;
    margin: 2px 1em 0 auto;
    display: flex;
    align-items: center;
    gap: .7rem;
}

main{
    float: left;
    width: 78%;
    height: 370px;
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

aside{
    float: right;
    width: 18%;
    height: 349px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
}

footer {
    width: 98%;
    height: 80px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 395px;
}